@keyframes slideInRightToLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .menu-slide-panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: white;
    z-index: 25;
    transform: translateX(100%); /* initial hidden state */
    transition: transform 0.3s ease;
  }
  
  .menu-slide-panel.open {
    transform: translateX(0); /* slide in */
    animation: slideInRightToLeft 0.3s ease forwards;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  }
  
  
  .menu-slide-panel.closed {
    transform: translateX(100%);
  }
  
  .menu-content {
    padding: 20px;
    background: white;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: relative;
  }
  
  .menu-heading {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
  }
  
  .menu-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .menu-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    cursor: pointer;
  }

  .menu-option {
    background: #f7f7f7;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    font-size: 0.95rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }
  
  .menu-option:hover {
    background-color: #e0e0e0;
    transform: scale(1.03);
  }
  
  .menu-content h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 12px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .close-button:hover {
    transform: rotate(90deg);
    color: red;
  }
